@import "tailwindcss";

:root {
  --background: ##f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-bg: #030e14;
  --color-body: #333333;
  --color-primary: #0a1931;
  --color-secondary: #3b82f6;
  --color-foundation: #fdfdfe;
  --color-cta-btn: #ff6b6b;
}

body {
  background: var(--background);
}

* {
  @apply duration-300 transition-all ease-in-out;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;

  :disabled {
    cursor: not-allowed;
    opacity: 80%;
  }
}

/* Hide scrollbar for carousel */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.mw {
  @apply w-full max-w-[1440px] mx-auto;
}
